.prop {
  font-align: center;
}

body {
  border: solid;
  border-color: white;
  border-radius: 8px;
  border-width: 25px;
}

* {
  font-family: Georgia, Times, serif;
  text-align: center;
  background-color: MidnightBlue;
  color: White;
}

h3 {
  font-family: Georgia;
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-weight: bold;
}
    
h2 {
  font-weight: bold;
  text-decoration: underline;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
  font-style: italic;
}

h6 {
  font-weight: bold;
}
