.prop {
  font-align: center;
}

* {
  font-family: Georgia, Times, serif;
  text-align: left;
  background-color: DarkBlue;
  color: White;
}

p {
  color: black;
}

h3 {
  font-family: Georgia;
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-weight: bold;
}
    
h2 {
  font-weight: bold;
  text-decoration: underline;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}
