* {
  font-family: Georgia, Times, serif;
  text-align: left;
}

p {
  color: black;
}

h3 {
  font-family: Georgia;
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-weight: bold;
}
    
h2 {
    font-weight: bold;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

.info {
  font-align: center;
}
